* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.755),
      rgba(85, 14, 67, 0.748)
    ),
    url('./img/bg-dark.jpg');
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
